	html,body{
			margin: 0; padding: 0;
			overflow: hidden;
			width: 100%;
			height: 100%;
			background-color: black;

		}
		.subtitles
		{
			position: absolute;
			margin: 0; padding: 0;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
			width: 100%;
			height: 100%;
			text-align: center;
			color: #fff;
		}
		button{
			width: 200px;
			display: block;
			opacity: 0.4;
		}
		.nl{
			font-family: "Arial Black", Gadget, sans-serif;
			font-size: 40px;
			color: #fff;
			position: fixed;
			width: 100%;
			top: 50px;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: black;
		}
		.en{
			font-family: "Arial Black", Gadget, sans-serif;
			font-size: 40px;
			position: fixed;
			bottom: 50px;
			width: 100%;
			color: #432;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: white;
		}
		.es{
			font-family: "Arial Black", Gadget, sans-serif;
			font-size: 40px;
			position: fixed;
			bottom: 50px;
			width: 100%;
			color: #243;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: white;
		}
		#mediacontainer{
			position: absolute;
			margin: 0; padding: 0;
			background-color: #000;
			z-index: 0;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
			width: 100%;
			height: 100%;
			text-align: center;
			color: #fff;
		}
		video{
			position: absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
			width: 100%;
			height: 100%;
		}
		audio{
			position: absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
		}
		img{
			position: absolute;
			top:0px;
			left:0px;
			right:0px;
			bottom:0px;
			width: 100%;
			height: 100%;
		}
		#overlay
		{
			cursor: pointer;
			font-family: futura, sans-serif;
			z-index: 2147483647; /* this is a bad hack, to get on top of video in fullscreen mode, but nobody seems to want to fix it...? */
			color: #aaa;
			position: fixed;
			top: 50%;
			transform: translateY(-50%);
			left: 50%;
			transform: translateX(-50%);
		}
